<div class="hero-banner d-flex justify-content-between align-items-center">
  <div>
    <div class="container hero-text col-8">
      <h2 class="hero-title">Tomamos tus objetivos como propios</h2>
      <p class="hero-paragraph mt-5 mb-5">Tú gestionas tu marca, nosotros gestionamos tu presencia digital.</p>
      <%= link_to "Hablemos!", "#", class: "btn-flat" %>
    </div>
  <div>
  </div class="firulete-container">
    <%= image_tag("firulete.png", alt: "Drawing", class: "firulete") %>
  </div>
  <div class="hero-img-container">
    <%= image_tag("hero-img.png", alt: "Hero image", class: "hero-img") %>
  </div>
</div>
<div class="our-commitments d-flex justify-content-center align-items-center p-5">
  <div class="col-6 our-commitments-container">
    <div class="left-side">
      <div class="commitment">
        <h4>Los objetivos comerciales son nuestra prioridad</h4>
        <p>Reconocemos los puntos débiles e identificamos la mejor manera de avanzar.</p>
      </div>
      <div class="commitment">
        <h4>Adaptamos una solución digital a la estrategia de la marca.</h4>
        <p>El valor radica en diseñar una estrategia diseñada y personalizada a las necesidades y objetivos de tu negocio.</p>
      </div>
    </div>
    <div class="right-side">
      <div class="commitment">
        <h4>Expertos alineados contigo</h4>
        <p>Trabajamos juntos y con total transparencia para que comprendas todo el proceso. Nuestro diálogo será fluido y claro.</p>
      </div>
      <div class="commitment">
        <h4>Tomamos decisiones basadas en datos</h4>
        <p>Te mostramos el escenario para afrontarlo desde un enfoque proactivo en la planificación y optimización. Logramos nuestros objetivos juntos.</p>
      </div>
    </div>
  </div>
  <div class="our-way col-6 d-flex flex-column">
    <div class="container col-8">
      <h2 class="">Nuestra manera</h2>
      <p class="">Conoces tu marca, tus objetivos y necesidades mejor que nadie. Estamos especializados en entender tus necesidades y desarrollar tu estrategia de posicionamiento digital.</p>
    </div>
  </div>
</div>
<div class="our-team">
  <p>TODO</p>
</div>
<div class="container m-5">
  <div class="container">
    <%= simple_form_for @contact do |f|  %>
      <%= f.input :name, required: true %>
      <%= f.input :email, required: true %>
      <%= f.input :message, as: :text, required: false %>
      <%= f.button :submit, 'Send Message', class: "btn-flat" %>
    <% end %>
  </div>
</div>
<div class="footer">
  <div class="footer-links">
    <%= image_tag("logo-white.png", alt: "Logo") %>
  </div>
  <div class="footer-copyright d-flex justify-content-center align-items-center">
    <a href="#">Terms of use</a>
    <a href="#">Privacy policy</a>
  </div>
</div>
